@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

:root {
    --ff-roboto: 'Roboto Mono', Helvetica, sans-serif;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* background for https://unsplash.com/photos/dCgbRAQmTQA */