@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Nasa';
    src: url('./fonts/nasa-webfont.woff2') format('woff2'),
         url('./fonts/nasa-webfont.woff') format('woff');
}

:root {
    --ff-roboto: 'Roboto', Helvetica, sans-serif;
    --ff-nasa: 'Nasa', monospace;
    --clr-primary: rgb(255, 0, 0);
    --clr-white: #ffffff;
    --clr-grey: #e2e2e2;
    --clr-darkgrey: #969696;


    font-size: 16px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

aside {
    background-image: url(./images/background_rocket_launch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

aside > .banner {
    height: 100px;
    width: 100%;
    margin-top: 35vh;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-text {
    font-family: var(--ff-nasa);
    font-size: 1.4rem;
    color: var(--clr-grey);
    width: 150px;
    text-align: center;
    
}

.banner-logo {
    height: 3rem;
}

aside > .credit {
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.7rem;
}

aside > .credit > a {
    color: #000;
}

main {
    display: grid;
    grid-template-rows: 2fr auto 2fr;
    background-color: var(--clr-grey);
    font-family: var(--ff-roboto);
}

main > div {
    padding-left: 30px;
    padding-right: 100px;
}

.upper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-weight: 500;
}

.upper em {
    padding-right: 2px;
}

.upper p:last-child {
    margin: 25px 50px 25px 0;
}

.mid {
    background-color: var(--clr-white);
    padding: 25px 0 25px 30px;
    box-shadow: 0px 2px 10px -5px #000000;
}

form {
    max-width: 600px;
}

.mid h2 {
    font-size: 1.2rem;
    margin-left: 7px;
}

form ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form li {
    list-style: none;
    display: inline-block;
    width: 40%;
    margin: 8px;
}

label {
    display: inline-block;
    font-size: 0.7rem;
    text-transform: uppercase;
    min-width: 100px;
    padding: 2px;
}

form input {
    font-size: 1rem;
    font-family: var(--ff-roboto);
    max-width: 250px;
    padding: 3px;
    border: 1px solid var(--clr-darkgrey);
    border-radius: 4px;
    outline: none;
    position: relative;
}

form input:focus {
    border: 1px solid #000;
    box-shadow: 3px 3px 10px -5px #000000;
}

input + span {
    position: relative;
}

input + span::before {
    position: absolute;
    left: 185px;
    bottom: 8px;
}

form input:valid:not(:placeholder-shown)  {
    border: 1px solid green;
}

input:valid:not(:placeholder-shown)  + span::before {
    content: "✓";
    color: green;
}

form input:invalid:not(:focus):not(:placeholder-shown)  {
    border: 1px solid red;
}

input:invalid:not(:focus):not(:placeholder-shown)  + span::before {
    content: "✖";
    color: red;
}

input + span::after {
    font-size: 0.6rem;
    position: absolute;
    padding: 1px 3px;
    bottom: 33px;
    
}
  
  input:required + span::after {
    color: white;
    background-color: rgb(43, 43, 43);
    content: "Required";
    left: 160px;
    border-radius: 2px;
}

.lower {
    padding-top: 20px;
}

.signup-btn {
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border: 2px solid var(--clr-primary);
}

.signup-btn:hover,
.signup-btn:focus {
    background-color: var(--clr-white);
    color: var(--clr-primary);
    outline: none;
}

.signup-btn:active {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.lower p {
    margin-top: 15px;
    font-size: 0.8rem;
}

.lower a {
    color: var(--clr-primary);
    text-decoration: none;
    font-weight: 500;
}