@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Nasa';
    src: url('./fonts/nasa-webfont.woff2') format('woff2'),
         url('./fonts/nasa-webfont.woff') format('woff');
}

:root {
    --ff-roboto: 'Roboto Mono', Helvetica, sans-serif;
    --ff-nasa: 'Nasa', monospace;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner-logo {
    width: 200px;
}




/* background from https://unsplash.com/photos/dCgbRAQmTQA */